extends layout
block content
	nav
		a(href="index")
			.navs.nav-left
				img.img-eduino-ico(src="/images/eduino3.svg") 
				.tit-princ
					h1 E-duino
		.navs.nav-right
			a(href="user")
				p User
				.circular
	.container
		.one 
			.center-label Armá tu kit arduino
			.down
		.two
			.two-one.wow
				h2 Paso 1
				h4 Elegí una placa
				select
					option Arduino 5sdfsdf
			.two-two
				.this-art.col.col-2
					.this-art-tit
						h3 Este artículo
					.this-art-img
				.descript
					h3
					h4
					p
				.your-kit.col.col-2
					.your-kit-tit
						h3 Tu kit
					.your-kit-img
			.two-three
				h4 Ir al paso 2
				img(src="/images/abajo.png")