doctype html
html
	head
		title E-duino
		link(rel="shortcut icon", href="/images/R2d2.ico", type="favicon/ico")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/estilo.scss')
		link(rel='stylesheet', href='/stylesheets/animate.css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet' type='text/css')
		script new WOW().init();
		script(src="/javascripts/wow.js")
	body
		block content