doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/estilo.scss')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet' type='text/css')
	body
		block content