
nav{
	.nav-left{
    float:left;
  }
	.nav-right{
    float:right;
  }
}
.one{
  background-image:"arduino316.jpg";
	.center-label{
    margin: 0 auto;
  }
	.down{
    margin: 0 auto;
    color:#888;
    }
  }
.two{
	.two-one{
		h2 {}
	}
  }
	h4{}

	.two-two{
		.this-art{}
		.descript{}
			h3
			h4
			p
		.your-kit{}
  }
	.two-three{
	h4{}
  }
}