body {
  font: 14px 'Open Sans', sans-serif;
  margin:0px;
}
a {
  color: #00B7FF;
}
h4{
	color:#ccc;
}
.eduino{
	background-color: #cc
	;
	width: 20px;
	height: 20px;
}
nav{
	width:100%;
	height: 60px;
	position: fixed;

}
.navs{
	padding-left: 30px;
	padding-right: 30px;
}
.nav-left{
	float:left;

}
.nav-left img{
	width:50px; 
	height:50px;
}
.nav-left .tit-princ{
	display: inline-block;
	clear:both;
	font-size: 20px;
}
.nav-left .tit-princ{
	color:#ccc;
}
.img-eduino-ico{
	vertical-align: middle;
}
.nav-right{
	float:right;
}
.nav-right a{
	text-decoration: none;
	color:#ccc;
	padding-top: 30px;
}
.one{
	background-image:url("/images/arduino_uno_test.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	width:100%;
	filter: grayscale(100%);
	background-attachment: fixed;
	filter: blur(5px);
	height:600px;
	color:#fff;
	font-size: 30px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0.01em 0.01em #333;
	vertical-align: middle;
	opacity: 0.8;
}
.one .center-label{
	position: absolute;

	left: 50%;
	top: 50%;
	width: 400px;
	height: 200px;
	margin: -100px 0 0 -200px;auto;
}
.two{
	text-align: center;
	height: auto;
	padding:150px;
	font-family: 'Open Sans', sans-serif;
}
.two select {
    height: 40px;
    border-style: none;
}
.two select option{
	height: 40px;
}
.two .one, .two .two{
	height: 100px;
}