body {
  font: 14px 'Open Sans', sans-serif;
  margin:0px;
}
a {
  color: #00B7FF;
}
h1{
	font-size: 16px;
	font-weight: normal;
}
h4{
	color:#ccc;
}
.circular {
	width: 50px;
	height: 50px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(/images/mujer-2.jpg) no-repeat;
	background-size: 150%;
	display: inline-block;
	 }
.eduino{
	background-color: #ccc
	;
	width: 20px;
	height: 20px;
}
nav{
	width:100%;

	position: fixed;
	z-index: 20;
}
div.nav-right a p{
	text-align: center;
}
.col{
	float:left;
}
.col-2{
	width: 50%;
}
.navs{
	padding-left: 30px;
	padding-right: 30px;
}
.nav-left{
	float:left;
}
.nav-left img{
	width:50px; 
	height:50px;
}
.nav-left .tit-princ{
	display: inline-block;
	clear:both;
	font-size: 20px;
}
.nav-left .tit-princ{
	color:#ccc;
}
.img-eduino-ico{
	vertical-align: middle;
}
.nav-right{
	float:right;
}
.nav-right a{
	text-decoration: none;
	color:#ccc;
	padding-top: 30px;
}
.one{
	background-image:url("/images/arduino_uno_test.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	width:100%;
	filter: grayscale(100%);
	background-attachment: fixed;
	filter: blur(5px);
	height:600px;
	color:#fff;
	font-size: 30px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0.01em 0.01em #333;
	vertical-align: middle;
	opacity: 0.8;
}
.one .center-label{
	position: absolute;
	font-size: 40px;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 200px;
	margin: -150px 0 0 -200px;auto;
}
.two{
	text-align: center;
	height: 600px;
	padding-top: 100px;
	font-family: 'Open Sans', sans-serif;
}
.two select {
    height: 40px;
    border-style: none;
}
.two select option{
	height: 40px;
}
.two .one, .two .two{
	height: 100px;
}
.two-three img{
	width: 30px;
	height: 30px;
}